body {
  display: flex;
  background-image: url("https://hbswk.hbs.edu/PublishingImages/working-mom2-2800x1296.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  text-align: center;
  margin-left: 75%;
}

nav {
  background-color: none;
  height: 50px;
}

nav li {
  display: inline;
  margin-left: 30px;
}

nav li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  text-size: 10px;
  font-size: 130%;
}

a:hover {
  color: white;
  background-color: pink;
  text-decoration: underline;
}

#identity>.shesays>p {
  font-style: italic;
  font-size: 120%;
}

#identity>.blog {
  background-color: white;
  background-size: zoom;
  font-size: 120%;
  text-align: center;
}

#identity>.shewon {
  font-size: 120%;
  text-align: center;
}

#contact {
  float: left;
  margin-right: 5px;
}
